/*  your css code here. If applicable */
body{
	font-family:Arial,sans-serif;
	margin:0;
	padding:20px;
	background-color:#f4f4f4;
}
h1{
	text-align:center;
}
ul#bands{
	list-style-type:square;
	padding:0;
	width:50%;
	margin:0 auto;
